<h1>Shop for delicious specialities!</h1>

<div>

  <% @products.each do |product| %>
  <div>
    <h2><%= product.name %> from <%= product.provider.region.title %></h2>
    <i>by <%= product.provider.name %></i>
    <p><%= link_to add_cart_path(product.id),
                method: :post, class: 'btn btn-primary btn-xs' do %>
                <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart for <%= product.price %> euro
        <% end %></p>
  </div>
  <% end %>

</div>
