<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @product.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @product.provider %>
</p>

<%= link_to 'Edit', edit_provider_product_path(@provider, @product) %> |
<%= link_to 'Back', provider_products_path(@provider) %>
